* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: -1;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.one {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.right-item {
    background-color: #326892;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

p {
    width: 50%;
    margin: auto;
}

