* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
      
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.one {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#main-heading {
    width: 40%;
    font-size: 30px;
    font-style: italic;
    margin:auto;
    text-align: left;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.right-item {
    background-color: #326892;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.media-icons {
  display: inline-flex;
  justify-content: space-between;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;

}
p {
    width: 50%;
    margin: auto;
    font-size: 20px;
}
.main-figure {
    text-align: center;
    margin: 20px auto;
}
figcaption {
    width: 70%;
    margin: auto;
    text-align: left;
    font-size: 12px;
    margin: 10px auto 50px auto;
}
a {
    text-decoration: none;
    color: black;
    
}
.newsletters {
    width: 400px;
    border: 1px solid grey;
    margin-bottom: 20px;
    align-items:center;
}
.astronomy {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
}
.object {
    width: 24%;
    align-items: center;
    margin: 0 1px;
    font-size: 12px;
}
.figcaption2 {
    width: 670px;
    text-align: center;
}
.appreciation {
    text-align: center;
}
.appreciation-link {
    text-align: center;
    color: blue;
    
}
.middle-heading {
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.big-telescope {
    text-align: center;
    margin: 20px auto;
}
.figcaption-two {
    width: 50%;
    margin-left: 25%;
}
.inflation {
    width: 1000px;
    margin: 0px auto;
    padding: 5px 5px;
}
.astronomy {
  display: flex;
  flex-wrap: wrap;
}

    
.object-details {
    font-size: 12px;
}
.more-in-space {
    position: relative;
    width: 80%;
}
.popular {
  width: 400px;
  float: right;
  border-top: 1px solid black;
  margin-right: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  padding-top: 20px;

}
.popular > h3 {
    border-top: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
}
.services {
    position: relative;
    border-left: 1px solid grey;
    margin-right: 10px;
    width: 200px;
    float: right;
}
.services > div {
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: justify;
  }
  a:hover {
      text-decoration: underline;
  }
  .concerns {
    display: flex;
    font-size: 10px;
    
    margin: auto;
  }
  .last-section {
      width: 90%;
      margin: auto;
      border-top: 2px solid grey;
      border-bottom: 1px solid grey;
  }
  .last-section-head {
    display: flex;
    margin-top: 1px;
    border-top: 1px solid grey;
    padding: 5px 0;
    justify-content: space-between;
  }
  .last-details > a {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .last-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    font-size: 14px;
  }